.container {
    margin: auto;
    text-align: center;
    background-color: rgb(233, 167, 167);
    width: 400px;
    height: 250px;
}
div {
    font-weight: 400px;
    color: rgb(97, 16, 16);

}
button {
    padding: 15px;
    color: white;
    background-color: rgb(34, 0, 128);
    border-radius: 5px;
}